{
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "plugin:react/recommended", // from eslint-plugin-react
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended", // from eslint-plugin-react-hooks
    "plugin:@typescript-eslint/recommended", // from @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended" // from eslint-plugin-prettier
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/display-name": "off"
  }
}
