html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.selected {
  background: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 8px;
  background-color: #bdc1c6;
  border: 0px;
  opacity: 1;
}
