@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: 
    url('../assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../assets/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: 
    url('../assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../assets/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../assets/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: 
    url('../assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../assets/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  src: 
    url('../assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../assets/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../assets/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}


* {
  font-family: 'Spoqa Han Sans Neo', sans-serif !important;
}

html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mr-8 {
  margin-right: 8px;
}

.selected {
  background: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 8px;
  background-color: #bdc1c6;
  border: 0px;
  opacity: 1;
}
